input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    padding: 12px 12px 12px 0;
    display: block;
}

.pay-gif {
    max-width: 100%;
}

.content-home {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}

.content-home figure {
    max-width: 400px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.c-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ma-r0 {
    margin: auto 0 auto auto;
}

.h-90 {
    height: 90vh;  
}

.m-auto {
  margin: 0 auto;
}

.general-btn {
    border-radius: 5px;
}

.general-btn:hover {
    cursor: pointer;
    background-color: #dbe9fd;
    border-color: transparent;
}

#btnSelectPay, #btnSelectTransaction, #btnScannerScreen {
  display: none;
}

.info-par {
    font-size: 6px;
}

.content-receipt .styleguide__box {
    padding: 20px 15px;
}
.content-receipt h3 {
    margin: 0 0 15px;
    font-size: 22px;
}
.content-scann {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #fafafa;
}

@media (max-width: 414px) {
    .content-buttons button {
        font-size: 13px;
    }
}
